body {
    margin: 0;
    background-color: #FFE4B5;
}

.header {
    width: 100%;
    background-color: #001F52;
    padding: 10px;
    height: 120px;
}

.headerpicture {
    float: left;
    margin: 0px;
    width: 120px;
    height: 120px;
}

.logo {
    text-align: center;
}

.bran {
    background: #E4E5D2;
    padding: 31px;
    text-align: center;
    margin-right: -10px;
}

.bran h1 {
    font-family: 'Open Sans', sans-serif;
    position: relative;
    color: #5C2610;
    font-size: 3em;
    font-weight: normal;
    line-height: 1;
    padding: 10px 0;
    margin: 0;
    display: inline-block;
}

.bran h1:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 200%;
    border-radius: 50% / 30%;
    border: 6px solid #5C2610;
    border-left-color: transparent;
    border-right-color: transparent;
}

.headerback {
    background-color: #32BB32;
    padding: 10px;
    font-family: sans-serif;
}

nav {
    text-align: center;
    background-color: green;
    padding: 10px 0 10px 10px;
    margin-right: -20px;
}

nav a {
    display: flex;
    font-weight: bold;
    color: blue;
    font-size: 18px;
    text-decoration: none;
}

nav a:hover {
    color: black;
    transition: all 500ms ease-out;
}

.navlist {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    max-width: 733px;
    background-color: rgba(255, 170, 0, 0.564);
    margin: 0 auto;
    margin-top: 24px;
    padding: 10px;
    font-family: sans-serif;
    border-radius: 13px;
}

.navtable {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    max-width: 739px;
    background-color: #97A726;
    margin: 0 auto;
    margin-top: 6px;
    padding: 7px;
    font-family: sans-serif;
    border-radius: 10px;
}

table {
    font-family: sans-serif;
    text-align: center;
    background-color: #6E381E;
    border-collapse: collapse;
    border-spacing: 5px;
    color: #399039;
    border: 8px solid #21639C;
}

th {
    background-color: #AFCDE7;
    color: #8A4343;
    font-size: 17px;
    padding: 31px;
    border-style: solid;
    border-width: 1px;
    border-color: #000000;
}

td {
    padding: 19px;
    border-style: solid;
    border-width: 2px;
    border-color: #0A0606;
}

.even {
    background-color: #8C9B6E;
}

.navform {
    max-width: 800px;
    background-color: #00BFFF;
    margin: 0 auto;
    margin-top: 7px;
    padding: 7px;
    font-family: sans-serif;
    border-radius: 10px;
}

.footer {
    width: 90%;
    background-color: #72D944;
    margin: 50px;
    padding: 50px;
    font-family: sans-serif;
    border-radius: 20px;
}

.footerspan {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background-color: #083008;
    border-radius: 20px;
    font-family: sans-serif;
    color: white;
}

@media only screen and (max-width: 550px) {
    .bran h1 {
        font-size: 2em;
    }
    
    .logo {
        padding-left: 20px;
        margin: -5px;
        flex: 2;
        order: 1;
        float: left;
    }
    
    nav {
        background-color: green;
        margin-top: 13px;
    }
    
    nav a {
        display: inline-block;
        margin-left: 18px;
    }
}

@media only screen and (max-width: 1224px) {
    .bran h1 {
        font-size: 2em;
    }
    
    .logo {
        padding-left: 20px;
        margin: -6px;
        width: 100px;
        height: 100px;
        float: left;
    }
    
    nav {
        text-align: center;
        background-color: green;
        padding: 2px;
        margin: 25px -20px 25px 25px;
    }
    
    nav a {
        font-weight: bold;
        color: blue;
        margin: 20px;
        font-size: 21px;
        text-decoration: none;
    }
}
